  <div class="card" id="main-card">
    <div class="card-body">
      <h3 class="card-title">Trade Panel</h3>
      <hr>
      <div class="row">
        <div class="container" id="coinlist">
          <div class="row justify-content-left">
              <a  class="btn btn-outline-info" [className]="'XBTUSD' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('XBTUSD')" role="button">Bitcoin</a>
              <a  class="btn btn-outline-info" [className]="'ETHUSD' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ETHUSD')" role="button">Ethereum</a>
              <a  class="btn btn-outline-info" [className]="'ADA' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ADA')" role="button">Cardano</a>
              <a  class="btn btn-outline-info" [className]="'BCH' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('BCH')" role="button">Bitcoin Cash</a>
              <a  class="btn btn-outline-info" [className]="'EOS' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('EOS')" role="button">EOS Token</a>
              <a  class="btn btn-outline-info" [className]="'ETH' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ETH')" role="button">ETH</a>
              <a  class="btn btn-outline-info" [className]="'LTC' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('LTC')" role="button">Litecoin</a>
              <a  class="btn btn-outline-info" [className]="'TRX' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('TRX')" role="button">Tron</a>
              <a  class="btn btn-outline-info" [className]="'XRP' == symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('XRP')" role="button">Ripple</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="container" id="signal-form">
            <div class="card" id="SignalForAll">
              <div class="card-header" (click)="hideOrShow1()">
                <h5>Signal For All</h5>
              </div>
              <div class="card-body" *ngIf="isHidden1">
                <div class="row" >
                  <div class="container-fluid">
                    <form>
                      <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <strong>Contract</strong>
                          </div>
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              value="{{ symbolGlobal }}"
                              #symbol
                              disabled
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Side</strong>
                          </div>
                          <div class="col">
                            <div class="row justify-content-center">
                              <select name="side" #side>
                                <option value="Buy">Long</option>
                                <option value="Sell">Short</option>
                              </select>
                            </div>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Stop Loss</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              class="form-control"
                              #stopLoss
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Profit Trigger</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              class="form-control"
                              #profitTrigger
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Leverage</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              class="form-control"
                              #leverage
                            >
                          </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                          <button class="btn btn-primary" (click)="onSendSignal()">Send signal</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="container" id="manual-form">
            <div class="card" id="ManualForAll">
              <div class="card-header" (click)="hideOrShow2()">
                  <h5>Manual For All</h5>
              </div>
              <div class="card-body" *ngIf="isHidden2">
                <div class="container-fluid">
                  <form>
                    <div class="form-group">
                      <div class="row">
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" [className]="'Limit' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Limit')">Limit</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'Market' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Market')">Market</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'Stop' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Stop')">Stop Market</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'StopLimit' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('StopLimit')">Stop Limit</a>
                          </li>
                        </ul>
                      </div>
                      <br>
                      <!--LIMIT -->
                      <!--<div class="row" id="Limit" *ngIf="manualTab == 'Limit'">-->
                        <!--<div class="container">-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Contract</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="text"-->
                                <!--class="form-control"-->
                                <!--value="{{ symbolGlobal }}"-->
                                <!--disabled-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Side</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<div class="row justify-content-center">-->
                                <!--<select name="side" #sideManualLimit>-->
                                  <!--<option value="Buy">Long</option>-->
                                  <!--<option value="Sell">Short</option>-->
                                <!--</select>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Limit Price</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="number"-->
                                <!--class="form-control"-->
                                <!--step="${currentCoinPriceStep}"-->
                                <!--#limitPrice-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Leverage</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="number"-->
                                <!--class="form-control"-->
                                <!--value="${currentCoinLeverage}"-->
                                <!--min="0" max="${currentCoinMaxLeverage}"-->
                                <!--#leverage-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--&lt;!&ndash;MARKET TAB &ndash;&gt;-->
                      <!--<div class="row" id="Market" *ngIf="manualTab == 'Market'">-->
                        <!--<div class="container">-->
                          <!--&lt;!&ndash;<input type="text" name="ordType" value="Market" hidden />&ndash;&gt;-->
                          <!--&lt;!&ndash;<input type="text" name="symbol" value="${symbol}" hidden />&ndash;&gt;-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Contract</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="text"-->
                                <!--class="form-control"-->
                                <!--value="{{ symbolGlobal }}"-->
                                <!--disabled-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Side</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<div class="row justify-content-center">-->
                                <!--<select name="side" #sideManualMarket>-->
                                  <!--<option value="Buy">Long</option>-->
                                  <!--<option value="Sell">Short</option>-->
                                <!--</select>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Leverage</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="number"-->
                                <!--class="form-control"-->
                                <!--min="0" max="">-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--&lt;!&ndash;STOP MARKET TAB &ndash;&gt;-->
                      <!--<div class="row" id="StopMarket" *ngIf="manualTab == 'StopMarket'">-->
                        <!--<div class="container">-->
                          <!--&lt;!&ndash;<input type="text" name="symbol" value="${symbol}" hidden />&ndash;&gt;-->
                          <!--&lt;!&ndash;<input type="text" name="execInst" value="Close,LastPrice" hidden />&ndash;&gt;-->
                          <!--&lt;!&ndash;<input type="text" name="ordType" value="Stop" hidden />&ndash;&gt;-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Contract</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="text"-->
                                <!--class="form-control"-->
                                <!--value="{{ symbolGlobal }}"-->
                                <!--disabled-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Side</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<div class="row justify-content-center">-->
                                <!--<select name="side" #sideManualStopMarket>-->
                                  <!--<option value="Buy">Long</option>-->
                                  <!--<option value="Sell">Short</option>-->
                                <!--</select>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Stop Price</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="number"-->
                                <!--class="form-control"-->
                                <!--step="${currentCoinPriceStep}"-->
                                <!--name="stopPx"-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col">-->
                              <!--<strong>Leverage</strong>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                              <!--<input-->
                                <!--type="number"-->
                                <!--class="form-control"-->
                                <!--name="leverage"-->
                                <!--min="0" max="${currentCoinMaxLeverage}"-->
                              <!--&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--STOP LIMIT TAB -->
                      <div class="row" id="StopLimit">
                        <div class="container">
                          <!--<input type="text" name="symbol" value="${symbol}" hidden />-->
                          <!--<input type="text" name="execInst" value="Close,LastPrice" hidden />-->
                          <!--<input type="text" name="ordType" value="StopLimit" hidden />-->
                          <div class="row">
                            <div class="col">
                              <strong>Contract</strong>
                            </div>
                            <div class="col">
                              <input
                                type="text"
                                class="form-control"
                                value="{{ symbolGlobal }}"
                                disabled
                              >
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <strong>Side</strong>
                            </div>
                            <div class="col">
                              <div class="row justify-content-center">
                                <select name="side" #sideManual>
                                  <option value="Buy">Long</option>
                                  <option value="Sell">Short</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="manualTab == 'Limit' || manualTab == 'StopLimit'">
                            <div class="col">
                              <strong>Limit Price</strong>
                            </div>
                            <div class="col">
                              <input
                                type="number"
                                class="form-control"
                                step=""
                                #priceManual
                              >
                            </div>
                          </div>
                          <div class="row" *ngIf="manualTab == 'Stop' || manualTab == 'StopLimit'">
                            <div class="col">
                              <strong>Stop Price</strong>
                            </div>
                            <div class="col">
                              <input
                                type="number"
                                class="form-control"
                                step=""
                                #stopPxManual
                              >
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <strong>Leverage</strong>
                            </div>
                            <div class="col">
                              <input
                                type="number"
                                class="form-control"
                                name="leverage"
                                value="${currentCoinLeverage}"
                                min="0" max="${currentCoinMaxLeverage}"
                                #leverageManual
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row justify-content-center">
                          <button class="btn btn-primary" (click)="onPlaceOrder()">Place Order</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!--active orders-->
      <div class="row" style="overflow-x: scroll">
          <h4> Active Orders </h4>
          <table class="table table-hover table-sm">
            <thead class="thead bg-info">
            <tr>
              <th scope="col">symbol</th>
              <th scope="col">Side</th>
              <th scope="col">Order Status</th>
              <th scope="col">Order Type</th>
              <!--<%&#45;&#45;<th scope="col">Order Qty</th>&#45;&#45;%>-->
              <th scope="col">Price</th>
              <th scope="col">Stop Price</th>
              <th scope="col">Transaction Time</th>
              <!--<th scope="col">-->
                <!--<%&#45;&#45;<c:if test="${randomActiveOrders.size() > 1}">&#45;&#45;%>-->
                <!--<form:form action="${pageContext.request.contextPath}/trade/order/cancelAll" method="POST">-->
                  <!--<input type="hidden" name="symbol" value="${symbol}"/>-->
                  <!--<input type="submit" class="btn btn-danger" value="Cancel All"/>-->
                <!--</form:form>-->
                <!--<%&#45;&#45;</c:if>&#45;&#45;%>-->
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of activeOrders">
                <th scope="row"> {{ order.symbol }}</th>
                <td>{{ order.side }}</td>
                <td>{{ order.ordStatus }}</td>
                <td>{{ order.ordType }}</td>
                <!--<%&#45;&#45;<td>${tempMap['orderQty']}</td>&#45;&#45;%>-->
                <td>{{ order.price }}</td>
                <td>{{ order.stopPx }}</td>
                <td>{{ order.transactTime }}</td>
                <!--<td>-->
                  <!--<form:form action="${pageContext.request.contextPath}/trade/order/cancel" method="POST">-->
                    <!--<input type="hidden" name="symbol" value="${symbol}"/>-->
                    <!--<input type="hidden" name="orderID" value="${tempMap['orderID']}" />-->
                    <!--<input type="submit" class="btn btn-danger" value="Cancel"/>-->
                  <!--</form:form>-->
                <!--</td>-->
              </tr>
            </tbody>
          </table>
        </div>

      <hr>

      <!--open positions-->
      <div class="row" style="overflow-x: scroll">
        <h4> Open Positions </h4>
        <table class="table table-hover table-sm">
          <thead class="thead bg-info">
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Entry Price</th>
            <th scope="col">Mark Price</th>
            <th scope="col">Margin</th>
            <th scope="col">Unrealised Pnl</th>
            <th scope="col">Roe%</th>
            <th scope="col">Realised Pnl</th>
            <th scope="col">Exec Cost</th>
            <th scope="col">Current Cost</th>
            <th scope="col">Unrealised Cost</th>
            <th scope="col">Pos Margin</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let position of activePositions">
            <th scope="row"> {{ position.symbol }}</th>
            <td>{{ position.avgEntryPrice }}</td>
            <td>{{ position.markPrice }}</td>
            <td>{{ position.maintMargin }}</td>
            <td>{{ position.unrealisedPnl }}</td>
            <td>{{ position.unrealisedRoePcnt }}</td>
            <td>{{ position.realisedPnl }}</td>
            <td>{{ position.execCost }}</td>
            <td>{{ position.currentCost }}</td>
            <td>{{ position.unrealisedCost }}</td>
            <td>{{ position.posMargin }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
