  <div class="card" id="main-card">
    <div class="card-body">
      <h3 class="card-title">Trade Panel</h3>
      <hr>
      <div class="row">
        <div class="container" id="coinlist">
          <div class="row justify-content-left">
              <a  class="btn btn-outline-info" [className]="'XBTUSD' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('XBTUSD')" role="button">Bitcoin</a>
              <a  class="btn btn-outline-info" [className]="'ETHUSD' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ETHUSD')" role="button">Ethereum</a>
              <a  class="btn btn-outline-info" [className]="'ADAH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ADAXXX')" role="button">Cardano</a>
              <a  class="btn btn-outline-info" [className]="'BCHH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('BCHXXX')" role="button">Bitcoin Cash</a>
              <a  class="btn btn-outline-info" [className]="'EOSH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('EOSXXX')" role="button">EOS Token</a>
              <a  class="btn btn-outline-info" [className]="'ETHH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('ETHXXX')" role="button">ETH</a>
              <a  class="btn btn-outline-info" [className]="'LTCH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('LTCXXX')" role="button">Litecoin</a>
              <a  class="btn btn-outline-info" [className]="'TRXH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('TRXXXX')" role="button">Tron</a>
              <a  class="btn btn-outline-info" [className]="'XRPH19' == symbolService.symbolGlobal ? 'btn btn-info' : 'btn btn-outline-info'" (click)="changeGlobalSymbol('XRPXXX')" role="button">Ripple</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs">
          <div class="container" id="signal-form">
            <div class="card" id="SignalForAll">
              <div class="card-header" (click)="hideOrShow1()">
                <h5>Signal For All</h5>
              </div>
              <div class="card-body" *ngIf="isHidden1">
                <div class="row" >
                  <div class="container-fluid">
                    <form>
                      <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <strong>Contract</strong>
                          </div>
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              value="{{ symbolService.symbolGlobal }}"
                              #symbol
                              disabled
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Side</strong>
                          </div>
                          <div class="col">
                            <div class="row justify-content-center">
                              <select name="side" class="form-control" #side>
                                <option value="Buy">Long</option>
                                <option value="Sell">Short</option>
                              </select>
                            </div>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Stop Loss</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              step="{{ priceSteps.get(symbolService.symbolGlobal) }}"
                              value="{{ defValues.get(symbolService.symbolGlobal) }}"
                              class="form-control"
                              #stopLoss
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Profit Trigger</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              step="{{ priceSteps.get(symbolService.symbolGlobal) }}"
                              value="{{ defValues.get(symbolService.symbolGlobal) }}"
                              class="form-control"
                              #profitTrigger
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <strong>Leverage</strong>
                          </div>
                          <div class="col">
                            <input
                              type="number"
                              value="0"
                              min="0" max="{{ maxLeverages.get(symbolService.symbolGlobal) }}"
                              class="form-control"
                              #leverage
                            >
                          </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                          <button class="btn btn-primary" (click)="onSendSignal()">Send signal</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs">
          <div class="container" id="manual-form">
            <div class="card" id="ManualForAll">
              <div class="card-header" (click)="hideOrShow2()">
                  <h5>Manual For All</h5>
                <div class="row justify-content-center">
                  <button class="btn btn-outline-danger" (click)="onPanicButton()">Panic Button</button>
                </div>
              </div>
              <div class="card-body" *ngIf="isHidden2">
                <div class="container-fluid">
                  <form>
                    <div class="form-group">
                      <div class="row">
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" [className]="'Limit' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Limit')">Limit</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'Market' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Market')">Market</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'Stop' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('Stop')">Stop Market</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [className]="'StopLimit' == manualTab? 'nav-link active' : 'nav-link'" (click)="showManualTab('StopLimit')">Stop Limit</a>
                          </li>
                        </ul>
                      </div>
                      <br>
                      <!--STOP LIMIT TAB -->
                      <div class="row" id="StopLimit">
                        <div class="container">
                          <div class="row">
                            <div class="col">
                              <strong>Contract</strong>
                            </div>
                            <div class="col">
                              <input
                                type="text"
                                class="form-control"
                                value="{{ symbolService.symbolGlobal }}"
                                disabled
                              >
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <strong>Side</strong>
                            </div>
                            <div class="col">
                              <div class="row justify-content-center">
                                <select name="side" class="form-control" #sideManual>
                                  <option value="Buy">Long</option>
                                  <option value="Sell">Short</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="manualTab == 'Limit' || manualTab == 'StopLimit'">
                            <div class="col">
                              <strong>Limit Price</strong>
                            </div>
                            <div class="col" >
                              <input
                                type="number"
                                step="{{ priceSteps.get(symbolService.symbolGlobal) }}"
                                value="{{ defValues.get(symbolService.symbolGlobal) }}"
                                class="form-control"
                                #priceManual
                              >
                            </div>
                          </div>
                          <div class="row" *ngIf="manualTab == 'Stop' || manualTab == 'StopLimit'">
                            <div class="col">
                              <strong>Stop Price</strong>
                            </div>
                            <div class="col">
                              <input
                                type="number"
                                step="{{ priceSteps.get(symbolService.symbolGlobal) }}"
                                value="{{ defValues.get(symbolService.symbolGlobal) }}"
                                class="form-control"
                                #stopPxManual
                              >
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <strong>Leverage</strong>
                            </div>
                            <div class="col">
                              <input
                                type="number"
                                class="form-control"
                                value="0"
                                min="0" max="{{ maxLeverages.get(symbolService.symbolGlobal) }}"
                                #leverageManual
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row justify-content-center">
                          <button class="btn btn-primary" (click)="onPlaceOrder()">Place Order</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

      <hr>

      <app-active-orders></app-active-orders>

      <hr>

      <app-open-positions></app-open-positions>

    </div>
  </div>
