  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Trade Panel</h3>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <div class="container" id="signal-form">
            <div class="row">
              <h4 (click)="hideOrShow1()">Signal For All</h4>
            </div>
            <br>
            <div class="row" *ngIf="isHidden1">
              <!--<form:form action="${pageContext.request.contextPath}/trade/signal" method="POST" oninput="x.value=parseInt(a.value)">-->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm">
                    Contract
                  </div>
                  <div class="col-sm">
                    <input type="hidden" name="symbol" value="${symbol}" >
                    <input type="text" value="${symbol}" disabled >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    Side
                  </div>
                  <div class="col-sm">
                    <select name="side">
                      <option value="Buy">Long</option>
                      <option value="Sell">Short</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    Stop Loss
                  </div>
                  <div class="col-sm">
                    <input type="text" name="stopLoss" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    Profit Trigger
                  </div>
                  <div class="col-sm">
                    <input type="text" name="profitTrigger" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    Leverage
                  </div>
                  <div class="col-sm">
                    <input type="number" name="leverage" value="${currentCoinLeverage}" min="0" max="${currentCoinMaxLeverage}">
                    <output name="x" for="a"></output>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                    <input type="submit" value="Create Signal">
                  </div>
                </div>
                <br>
              </div>
              <!--</form:form>-->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container" id="manual-form">
            <div class="row">
              <h4 (click)="hideOrShow2()">Manual For All</h4>
            </div>
            <br>
            <div class="row" *ngIf="isHidden2">
              <ul class="nav nav-pills mb-3"  id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-limit-tab" data-toggle="pill" href="#pills-limit" role="tab" aria-controls="pills-limit" aria-selected="true">Limit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-market-tab" data-toggle="pill" href="#pills-market" role="tab" aria-controls="pills-market" aria-selected="false">Market</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-stopMarket-tab" data-toggle="pill" href="#pills-stopMarket" role="tab" aria-controls="pills-stopMarket" aria-selected="false">Stop Market</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-stopLimit-tab" data-toggle="pill" href="#pills-stopLimit" role="tab" aria-controls="pills-stopLimit" aria-selected="false">Stop Limit</a>
                </li>
              </ul>
            </div>
            <div class="row" *ngIf="isHidden2">
              <div class="tab-content" id="pills-tabContent">
                <!--LIMIT -->
                <div class="tab-pane fade show active" id="pills-limit" role="tabpanel" aria-labelledby="pills-limit-tab">
                  <!--<form:form action="${pageContext.request.contextPath}/trade/orderAll" method="POST" id="limit-form" oninput="x.value=parseInt(aa.value)">-->
                  <div class="col-sm-12">
                    <input type="text" name="ordType" value="Limit" hidden />
                    <input type="text" name="symbol" value="${symbol}" hidden />
                    <div class="row">
                      <div class="col-sm">
                        Contract
                      </div>
                      <div class="col-sm">
                        <input type="text" name="symbol" value="${symbol}" disabled/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Side
                      </div>
                      <div class="col-sm">
                        <select name="side">
                          <option value="Buy">Buy</option>
                          <option value="Sell">Sell</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Limit Price
                      </div>
                      <div class="col-sm">
                        <input type="number" step="${currentCoinPriceStep}" name="price"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Leverage
                      </div>
                      <div class="col-sm">
                        <input type="number" name="leverage" value="${currentCoinLeverage}" min="0" max="${currentCoinMaxLeverage}">
                        <output name="x" for="a"></output>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                      </div>
                      <div class="col-sm">
                        <input type="submit" value="Place Order" />
                      </div>
                    </div>
                  </div>
                  <!--</form:form>-->
                </div>
                <!--MARKET TAB -->
                <div class="tab-pane fade" id="pills-market" role="tabpanel" aria-labelledby="pills-market-tab">
                  <!--<form:form action="${pageContext.request.contextPath}/trade/orderAll" method="POST" id="market-form" oninput="x.value=parseInt(a2.value)">-->
                  <div class="col-sm-12">
                    <input type="text" name="ordType" value="Market" hidden />
                    <input type="text" name="symbol" value="${symbol}" hidden />
                    <div class="row">
                      <div class="col-sm">
                        Contract
                      </div>
                      <div class="col-sm">
                        <input type="text" name="symbol" value="${symbol}" disabled/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Side
                      </div>
                      <div class="col-sm">
                        <select name="side">
                          <option value="Buy">Buy</option>
                          <option value="Sell">Sell</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Leverage
                      </div>
                      <div class="col-sm">
                        <input type="number" name="leverage" value="${currentCoinLeverage}" min="0" max="${currentCoinMaxLeverage}">
                        <%--<output name="x" for="a"></output>--%>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                      </div>
                      <div class="col-sm">
                        <input type="submit" value="Place Order" />
                      </div>
                    </div>
                  </div>
                  <!--</form:form>-->
                </div>
                <!--STOP MARKET TAB -->
                <div class="tab-pane fade" id="pills-stopMarket" role="tabpanel" aria-labelledby="pills-stopMarket-tab">
                  <!--<form:form action="${pageContext.request.contextPath}/trade/orderAll" method="POST" id="stop-form" oninput="x.value=parseInt(a3.value)">-->
                  <div class="col-sm-12">
                    <input type="text" name="symbol" value="${symbol}" hidden />
                    <input type="text" name="execInst" value="Close,LastPrice" hidden />
                    <input type="text" name="ordType" value="Stop" hidden />
                    <div class="row">
                      <div class="col-sm">
                        Contract
                      </div>
                      <div class="col-sm">
                        <input type="text" name="symbol" value="${symbol}" disabled/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Side
                      </div>
                      <div class="col-sm">
                        <select name="side">
                          <option value="Buy">Buy</option>
                          <option value="Sell">Sell</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Stop Price
                      </div>
                      <div class="col-sm">
                        <input type="number" step="${currentCoinPriceStep}" name="stopPx"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Leverage
                      </div>
                      <div class="col-sm">
                        <input type="number" name="leverage" value="${currentCoinLeverage}" min="0" max="${currentCoinMaxLeverage}">
                        <%--<output name="x" for="a"></output>--%>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                      </div>
                      <div class="col-sm">
                        <input type="submit" value="Place Order" />
                      </div>
                    </div>
                  </div>
                  <!--</form:form>-->
                </div>
                <!--STOP LIMIT TAB -->
                <div class="tab-pane fade" id="pills-stopLimit" role="tabpanel" aria-labelledby="pills-stopLimit-tab">
                  <!--<form:form action="${pageContext.request.contextPath}/trade/orderAll" method="POST" id="stop-form" oninput="x.value=parseInt(a3.value)">-->
                  <div class="col-sm-12">
                    <input type="text" name="symbol" value="${symbol}" hidden />
                    <input type="text" name="execInst" value="Close,LastPrice" hidden />
                    <input type="text" name="ordType" value="StopLimit" hidden />
                    <div class="row">
                      <div class="col-sm">
                        Contract
                      </div>
                      <div class="col-sm">
                        <input type="text" name="symbol" value="${symbol}" disabled/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Side
                      </div>
                      <div class="col-sm">
                        <select name="side">
                          <option value="Buy">Buy</option>
                          <option value="Sell">Sell</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Limit Price
                      </div>
                      <div class="col-sm">
                        <input type="number" step="${currentCoinPriceStep}" name="price"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Stop Price
                      </div>
                      <div class="col-sm">
                        <input type="number" step="${currentCoinPriceStep}" name="stopPx"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        Leverage
                      </div>
                      <div class="col-sm">
                        <input type="number" name="leverage" value="${currentCoinLeverage}" min="0" max="${currentCoinMaxLeverage}">
                        <%--<output name="x" for="a"></output>--%>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                      </div>
                      <div class="col-sm">
                        <input type="submit" value="Place Order" />
                      </div>
                    </div>
                  </div>
                  <!--</form:form>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!--active orders-->
      <div class="row" style="overflow-x: scroll">
          <h4> Active Orders </h4>
          <table class="table table-hover table-sm">
            <thead class="thead bg-info">
            <tr>
              <th scope="col">symbol</th>
              <th scope="col">Side</th>
              <th scope="col">Order Status</th>
              <th scope="col">Order Type</th>
              <!--<%&#45;&#45;<th scope="col">Order Qty</th>&#45;&#45;%>-->
              <th scope="col">Price</th>
              <th scope="col">Stop Price</th>
              <th scope="col">Transaction Time</th>
              <!--<th scope="col">-->
                <!--<%&#45;&#45;<c:if test="${randomActiveOrders.size() > 1}">&#45;&#45;%>-->
                <!--<form:form action="${pageContext.request.contextPath}/trade/order/cancelAll" method="POST">-->
                  <!--<input type="hidden" name="symbol" value="${symbol}"/>-->
                  <!--<input type="submit" class="btn btn-danger" value="Cancel All"/>-->
                <!--</form:form>-->
                <!--<%&#45;&#45;</c:if>&#45;&#45;%>-->
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of activeOrders">
                <th scope="row"> {{ order.symbol }}</th>
                <td>{{ order.side }}</td>
                <td>{{ order.ordStatus }}</td>
                <td>{{ order.ordType }}</td>
                <!--<%&#45;&#45;<td>${tempMap['orderQty']}</td>&#45;&#45;%>-->
                <td>{{ order.price }}</td>
                <td>{{ order.stopPx }}</td>
                <td>{{ order.transactTime }}</td>
                <!--<td>-->
                  <!--<form:form action="${pageContext.request.contextPath}/trade/order/cancel" method="POST">-->
                    <!--<input type="hidden" name="symbol" value="${symbol}"/>-->
                    <!--<input type="hidden" name="orderID" value="${tempMap['orderID']}" />-->
                    <!--<input type="submit" class="btn btn-danger" value="Cancel"/>-->
                  <!--</form:form>-->
                <!--</td>-->
              </tr>
            </tbody>
          </table>
        </div>

      <hr>

      <!--open positions-->
      <div class="row" style="overflow-x: scroll">
        <h4> Open Positions </h4>
        <table class="table table-hover table-sm">
          <thead class="thead bg-info">
          <tr>
            <th scope="col">Symbol</th>
            <!--<th scope="col">Sum Size</th>-->
            <th scope="col">Entry Price</th>
            <th scope="col">Mark Price</th>
            <th scope="col">Liq. Price</th>
            <th scope="col">Margin</th>
            <th scope="col">Unrealised Pnl</th>
            <th scope="col">Roe%</th>
            <th scope="col">Realised Pnl</th>
            <!--<%&#45;&#45;<th scope="col">commission</th>&#45;&#45;%>-->
            <th scope="col">Leverage</th>
            <!--<%&#45;&#45;<th scope="col">isOpen</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">rebalancedPnl</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">prevRealisedPnl</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">prevUnrealisedPnl</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">openingQty</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">openingCost</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">execQty</th>&#45;&#45;%>-->
            <th scope="col">Exec Cost</th>
            <th scope="col">Current Cost</th>
            <!--<%&#45;&#45;<th scope="col">currentComm</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">realisedCost</th>&#45;&#45;%>-->
            <th scope="col">Unrealised Cost</th>

            <!--<%&#45;&#45;<th scope="col">grossOpenCost</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">grossOpenPremium</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">grossExecCost</th>&#45;&#45;%>-->
            <th scope="col">Pos Margin</th>
            <!--<%&#45;&#45;<th scope="col">unrealisedGrossPnl</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">unrealisedTax</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">unrealisedPnlPcnt</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">simpleQty</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">simpleCost</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">avgCostPrice</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">breakEvenPrice</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">marginCallPrice</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">timestamp</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">lastPrice</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">lastValue</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Id<a href="${sortByIdLink}"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByIdLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Product Name<a href="${pageContext.request.contextPath}/management-panel"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByNameLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Category<a href="${sortByCategoryLink}"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByCategoryLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Shop Price<a href="${sortByShopPriceLink}"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByShopPriceLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Buy Price<a href="${sortByBuyPriceLink}"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByBuyPriceLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Avail. Qty<a href="${sortByQtyLink}"><i class="fas fa-chevron-up"></i></a><a href="${sortDescByQtyLink}"><i class="fas fa-chevron-down"></i></a></th>&#45;&#45;%>-->
            <!--<%&#45;&#45;<security:authorize access="hasRole('ADMIN')">&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">Action</th>&#45;&#45;%>-->
            <!--<%&#45;&#45;</security:authorize>&#45;&#45;%>-->
            <!--<%&#45;&#45;<th scope="col">&#45;&#45;%>-->
            <!--<%&#45;&#45;<c:if test="${activeOrders.size() > 1}">&#45;&#45;%>-->
              <!--<%&#45;&#45;<form:form action="${pageContext.request.contextPath}/trade/order/cancelAll" method="POST">&#45;&#45;%>-->
                <!--<%&#45;&#45;&lt;%&ndash;<input type="hidden" value="${tempMap['orderID']}" name="orderID"/>&ndash;%&gt;&#45;&#45;%>-->
                <!--<%&#45;&#45;<input type="submit" class="btn btn-danger" value="Cancel All"/>&#45;&#45;%>-->
                <!--<%&#45;&#45;</form:form>&#45;&#45;%>-->
              <!--<%&#45;&#45;</c:if>&#45;&#45;%>-->
            <!--<%&#45;&#45;</th>&#45;&#45;%>-->
            <th scope="col">Qty(%)</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let position of activePositions">
            <th scope="row"> {{ position.symbol }}</th>
            <td>{{ position.avgEntryPrice }}</td>
            <td>{{ position.markPrice }}</td>
            <td>{{ position.maintMargin }}</td>
            <td>{{ position.unrealisedPnl }}</td>
            <td>{{ position.unrealisedRoePcnt }}</td>
            <td>{{ position.realisedPnl }}</td>
            <td>{{ position.execCost }}</td>
            <td>{{ position.currentCost }}</td>
            <td>{{ position.unrealisedCost }}</td>
            <td>{{ position.posMargin }}</td>
            <!--<td>{{ position.ordType }}</td>-->
            <!--<%&#45;&#45;<td>${tempMap['orderQty']}</td>&#45;&#45;%>-->
            <!--<td>{{ position.price }}</td>-->
            <!--<td>{{ position.stopPx }}</td>-->
            <!--<td>{{ position.transactTime }}</td>-->
            <!--<td>-->
            <!--<form:form action="${pageContext.request.contextPath}/trade/order/cancel" method="POST">-->
            <!--<input type="hidden" name="symbol" value="${symbol}"/>-->
            <!--<input type="hidden" name="orderID" value="${tempMap['orderID']}" />-->
            <!--<input type="submit" class="btn btn-danger" value="Cancel"/>-->
            <!--</form:form>-->
            <!--</td>-->
          </tr>
          </tbody>
        </table>

      </div>


    </div>
  </div>
