<div class="card">
  <div class="card-body">
    <h3 class="card-title">F.A.Q.</h3>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <h4>Tutorial</h4>
      </div>
      <div class="row">
        <video width="320" height="240" controls>
          <source src="../../assets/videos/tutorial.mp4" type="video/mp4">
          <!--<source src="movie.ogg" type="video/ogg">-->
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <ngbd-buttons-radio></ngbd-buttons-radio>
  </div>
</div>
