<div class="card" id="main-card">
  <div class="card-body">
    <h3 class="card-title">Follow a Trader</h3>
    <hr>
    <div id="all" class="container-fluid">
      <div class="col-sm-10">
        <div class="card-body">
          <br>
          <div class="row" *ngIf="personalTrader">
            <h4>Personal Trader</h4>
          </div>
          <div class="row" *ngIf="personalTrader">
            <div class="card" style="max-width: 16rem; min-width: 16rem; margin-bottom: 20px">
              <div class="card-body row">
                <div class="col-sm-6">
                  <img class="card-img-top" src="../../assets/images/t1.jpg" alt="Card image cap">
                </div>
                <div class="col-sm-6">
                  <p class="card-text">{{ personalTrader.username }}</p>
                </div>
              </div>
              <!--<ul class="list-group list-group-flush">-->
                <!--<li class="list-group-item">Profit last week</li>-->
                <!--<li class="list-group-item">Followed by</li>-->
              <!--</ul>-->
              <button class="btn btn-outline-primary" (click)="onUnfollow()">Stop following</button>
            </div>
          </div>

          <br>
          <br>

          <div class="row" *ngIf="!personalTrader">
                <h4>Other Traders</h4>
          </div>
          <br>
          <div class="card-deck" *ngIf="!personalTrader">
                  <div class="card" *ngFor="let trader of activeTraders" style="max-width: 16rem; min-width: 16rem; margin-bottom: 20px">
                    <div class="card-body">
                      <div class="row justify-content-center" >
                        <p>{{ trader.username }}</p>
                      </div>
                      <!--<div class="row justify-content-center" *ngFor="let trader of activeTraders">-->

                      <!--</div>-->
                    </div>
                    <button class="btn btn-outline-primary" (click)="onFollow(trader)">Follow</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
