<div class="card" id="main-card">
  <div class="card-body">
    <h3 class="card-title">Follow a Trader</h3>

    <div id="all" class="container-fluid">
      <div class="col-sm-10">
        <div class="card-body">
          <div class="row">
            <h2>Follow a Trader <a><i class="fas fa-sync"></i></a></h2>
          </div>
          <br>
          <div class="row">
            <h4>Personal Trader</h4>
          </div>
          <div class="row" *ngIf="personalTrader">
            <div class="card" style="max-width: 16rem; min-width: 16rem; margin-bottom: 20px">
              <div class="card-body row">
                <div class="col-sm-6">
                  <img class="card-img-top" src="assets/images/t1.jpg" alt="Card image cap">
                </div>
                <div class="col-sm-6">
                  <p class="card-text">The best trader in da hood</p>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Profit last week</li>
                <li class="list-group-item">Followed by</li>
              </ul>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
                  To start using our services please contact @Bitmexcall
                </div>
            <div class="row">
                  Full link
                </div>
            <div class="row">
                  Telegram channel
                </div>
            <div class="row">
                  <a href="https://t.me/bitmexcall" target="_blank">
                    https://t.me/bitmexcall
                  </a>
                </div>
            <div class="row">
                  To get full access or Live chat support
                </div>
            <div class="row">
                  <a href="https://t.me/jegejo" target="_blank">
                    https://t.me/jegejo
                  </a>
                </div>
            <div class="row">
                  BITMEX CALL
                </div>
          </div>
          <br><br>
          <div class="row">
                <h4>Other Traders</h4>
              </div>
          <br>
          <div class="card-deck">

                  <div class="card" style="max-width: 16rem; min-width: 16rem; margin-bottom: 20px">


                    <div class="card-body row">
                      <div class="col-sm-6">
                        <img class="card-img-top" src="${pageContext.request.contextPath}/images/t1.jpg" alt="Card image cap">
                      </div>
                      <div class="col-sm-6">
                        <h5 class="card-title"></h5>
                        <p class="card-text">The best trader in da hood</p>
                      </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Profit last week</li>
                      <li class="list-group-item">Followed by</li>
                    </ul>
                    <div class="card-body">
                      <!--<form:form action="${pageContext.request.contextPath}/user/link" method="POST">-->
                        <!--<input type="hidden" value="${temp.id}" name="traderId"/>-->
                        <!--<c:if test="${empty personalTrader}">-->
                          <!--<input type="submit" class="btn btn-outline-primary" value="Copy"/>-->
                        <!--</c:if>-->
                      <!--</form:form>-->

                      <!--<%&#45;&#45;<form:form action="${pageContext.request.contextPath}/user/unlink" method="POST">&#45;&#45;%>-->
                      <!--<%&#45;&#45;<c:if test="${not empty personalTrader}">&#45;&#45;%>-->
                        <!--<%&#45;&#45;<input type="submit" class="btn btn-outline-primary" value="Copy"/>&#45;&#45;%>-->
                        <!--<%&#45;&#45;</c:if>&#45;&#45;%>-->
                      <!--<%&#45;&#45;</form:form>&#45;&#45;%>-->
                    </div>
                  </div>
                <!--</c:forEach>-->
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
