<div class="container-fluid" id="sidenavbar">
  <br>
  <div class="row">
    <h5><fa-icon [icon]="faUser"></fa-icon> Welcome, <span *ngIf="userDetails">{{ userDetails.user.username }}</span></h5>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-dark" (click)="onSignOut()"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</button>
  </div>
  <hr id="hr1"/>
  <div class="row nav flex-column nav-pills nav-fill" role="tablist" aria-orientation="vertical">
    <a class="nav-link" *ngIf="isCustomer" routerLinkActive="active" routerLink="/dashboard" role="button"><fa-icon [icon]="faCoffee"></fa-icon> Dashboard</a>
    <a class="nav-link" *ngIf="isCustomer" routerLinkActive="active" routerLink="/follow" role="button"><fa-icon [icon]="faHandshake"></fa-icon> Follow a Trader</a>
    <a class="nav-link" *ngIf="isTrader" routerLinkActive="active" routerLink="/followers" role="button"><fa-icon [icon]="faUsers"></fa-icon> Followers</a>
    <a class="nav-link" *ngIf="isTrader" routerLinkActive="active" routerLink="/trade" role="button"><fa-icon [icon]="faSatelliteDish"></fa-icon> Trade</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/tx" role="button"><fa-icon [icon]="faHistory"></fa-icon> Transaction History</a>
    <a class="nav-link" *ngIf="isCustomer" routerLinkActive="active" routerLink="/settings" role="button"><fa-icon [icon]="faCogs"></fa-icon> Settings</a>
    <!--<a class="nav-link" *ngIf="isAdmin" routerLinkActive="active" routerLink="/admin" role="button"><fa-icon [icon]="faSolarPanel"></fa-icon> Admin Panel</a>-->

    <br>
    <div class="row" *ngIf="isAdmin">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-block" id="dropdownBasic1" ngbDropdownToggle>Admin Panel</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button routerLink="/users" class="dropdown-item"><b>Users</b></button>
            <button routerLink="/logins" class="dropdown-item"><b>Logins</b></button>
          </div>
        </div>
      </div>

    </div>
    <br>
  </div>
</div>


