<div class="row" style="min-height: 100vh">
  <div class="container-fluid">
    <form>
      <div class="form-group">
        <br><br>
        <div class="row justify-content-center">
          <div class="col-xs">
            <strong>Username </strong>
          </div>
          <div class="col-xs">
            <input
              type="text"
              class="form-control"
              #username
            >
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs">
            <strong>Password </strong>
          </div>
          <div class="col-xs">
            <input
              type="password"
              class="form-control"
              #password
            >
          </div>
        </div>
        <br>
        <div class="row">

        </div>
        <div class="row justify-content-center">
          <button class="btn btn-primary" (click)="onSignIn()">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
