<div class="row" >
  <div class="container-fluid">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-xs">
            <strong>Username </strong>
          </div>
          <div class="col-xs">
            <input
              type="text"
              class="form-control"
              #username
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <strong>Password </strong>
          </div>
          <div class="col-xs">
            <input
              type="text"
              class="form-control"
              #password
            >
          </div>
        </div>
        <br>
        <div class="container-fluid justify-content-left">
          <button class="btn btn-primary" (click)="onSignIn()">Send signal</button>
        </div>
      </div>
    </form>
  </div>
</div>
