<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="sidenavbar">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="hideOrAppear1()">Primary</button>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="hideOrAppear2()">Primary</button>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="hideOrAppear3()">Primary</button>
      </div>
      <br>
      <div class="nav flex-column nav-pills nav-fill" role="tablist" aria-orientation="vertical" >
        <a class="nav-link" href="${pageContext.request.contextPath}/user/news" role="button"><i class="fa fa-newspaper-o" style="content: 'f1ea';"><span class="icon">&#xf1ea;</span></i> News</a>
        <a class="nav-link" href="${pageContext.request.contextPath}/dashboard/" role="button" aria-selected="true"><fa-icon [icon]="faCoffee"></fa-icon> Dashboard</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-chart-line"></i> Follow a Trader</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-history"></i> Transaction History</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-wallet"></i> Wallet</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-cogs"></i> Settings</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-exchange-alt"></i> Trade</a>
        <a class="nav-link" href="" role="button"><i class="fas fa-exchange-alt"></i> Admin Panel</a>
      </div>
    </div>
    <div class="col-md-10">
      <!--<app-main-card *ngIf="hidden1; else ishidden1"></app-main-card>-->
      <!--<ng-template #ishidden1>-->
        <!--<br>You hided the 1!<br>-->
      <!--</ng-template>-->

      <!--<app-main-card *ngIf="hidden2; else ishidden2"></app-main-card>-->
      <!--<ng-template #ishidden2>-->
        <!--<br>You hided the 2!<br>-->
      <!--</ng-template>-->

      <!--<app-main-card *ngIf="hidden3; else ishidden3"></app-main-card>-->
      <!--<ng-template #ishidden3>-->
        <!--<br>You hided the 3!<br>-->
      <!--</ng-template>-->
    </div>
  </div>
</div>
