.container-fluid{
  background-color: #bac9d6;
}

#sidenavbar{
  background-color: #3b5264;
  max-height: 100vh;
  height: 100vh;
  color: #eeeeee;
}

.nav-link{
  width: 100%;
  font-size: 1.2rem;
  padding: 15px;
  color: white;
}

#hr1{
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}
