<div class="row" style="overflow-x: scroll">
  <h4> Active Orders </h4>
  <table class="table table-hover table-sm">
    <thead class="thead bg-info">
    <tr>
      <th scope="col">symbol</th>
      <th scope="col">Side</th>
      <th scope="col">Order Status</th>
      <th scope="col">Order Type</th>
      <!--<%&#45;&#45;<th scope="col">Order Qty</th>&#45;&#45;%>-->
      <th scope="col">Price</th>
      <th scope="col">Stop Price</th>
      <th scope="col">Transaction Time</th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCancelAll(symbolService.symbolGlobal)">Cancel All</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of activeOrdersService.activeOrders">
      <th scope="row"> {{ order.symbol }}</th>
      <td>{{ order.side }}</td>
      <td>{{ order.ordStatus }}</td>
      <td>{{ order.ordType }}</td>
      <td>{{ order.price }}</td>
      <td>{{ order.stopPx }}</td>
      <td>{{ order.transactTime }}</td>
      <!--<td> </td>-->
      <td>
        <button class="btn btn-danger" (click)="onCancelOne(order.orderID)">Cancel</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
