<div class="row" style="overflow-x: scroll">
  <h4> Open Positions </h4>
  <table class="table table-striped table-hover table-sm">
    <thead class="thead bg-info">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Size</th>
      <th scope="col">Value</th>
      <th scope="col">Entry Price</th>
      <th scope="col">Mark Price</th>
      <th scope="col">Liq. Price</th>
      <th scope="col">Leverage</th>
      <th scope="col">Margin</th>
      <!--<th scope="col">Unrealised Pnl</th>-->
      <!--<th scope="col">Roe%</th>-->
      <!--<th scope="col">Realised Pnl</th>-->
      <!--<th scope="col">Exec Cost</th>-->
      <!--<th scope="col">Current Cost</th>-->
      <!--<th scope="col">Unrealised Cost</th>-->
      <!--<th scope="col">Pos Margin</th>-->
      <th scope="col">
        Qty(%)
        <input
          type="number"
          min="0"
          max="100"
          step="1"
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        Price
        <input
          type="number"
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let position of openPositionService.openPositions">
      <th scope="row"> {{ position.symbol }}</th>
      <td>{{ position.currentQty }}</td>
      <td>{{ (position.homeNotional).toFixed(4) }} XBT</td>
      <td>{{ position.avgEntryPrice }}</td>
      <td>{{ position.markPrice }}</td>
      <td>{{ (position.liquidationPrice).toFixed(1) }}</td>
      <td>{{ position.leverage }}x</td>
      <td>{{ (position.maintMargin / 100000000).toFixed(4) }} XBT</td>
      <!--<td>{{ position.unrealisedPnl }}</td>-->
      <!--<td>{{ position.unrealisedRoePcnt }}</td>-->
      <!--<td>{{ position.realisedPnl }}</td>-->
      <!--<td>{{ position.execCost }}</td>-->
      <!--<td>{{ position.currentCost }}</td>-->
      <!--<td>{{ position.unrealisedCost }}</td>-->
      <!--<td>{{ position.posMargin }}</td>-->
      <td>
        <!--<input-->
          <!--type="number"-->
          <!--min="0"-->
          <!--max="100"-->
          <!--step="1"-->
          <!--class="form-control"-->
          <!--#qtyPercentageInput-->
        <!--&gt;-->
      </td>
      <td>
        <!--<input-->
          <!--type="number"-->
          <!--class="form-control"-->
          <!--#priceInput-->
        <!--&gt;-->
      </td>
      <td scope="col">
        <button class="btn btn-danger" (click)="onCloseLimitOrder(position)">Close</button>
      </td>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(position)">Market</button>
      </th>
    </tr>
    </tbody>
  </table>
  <br>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div>
