<div class="row" style="overflow-x: scroll">
  <h4> Open Positions </h4>
  <table class="table table-hover table-sm">
    <thead class="thead bg-info">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Entry Price</th>
      <th scope="col">Mark Price</th>
      <th scope="col">Margin</th>
      <th scope="col">Unrealised Pnl</th>
      <th scope="col">Roe%</th>
      <th scope="col">Realised Pnl</th>
      <th scope="col">Exec Cost</th>
      <th scope="col">Current Cost</th>
      <th scope="col">Unrealised Cost</th>
      <th scope="col">Pos Margin</th>
      <th scope="col">Qty(%)</th>
      <th scope="col">Price</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <!--<app-open-position-row-->
      <!--*ngFor="let position of openPositions">asgashg-->
      <!--&lt;!&ndash;[symbol]="position.symbol"&ndash;&gt;-->
    <!--&gt;-->
    <!--</app-open-position-row>-->
    <tr *ngIf="openPositionService.openXBTUSD">
      <th scope="row"> {{ openPositionService.positionXBTUSD.symbol }}</th>
      <td>{{ openPositionService.positionXBTUSD.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionXBTUSD.markPrice }}</td>
      <td>{{ openPositionService.positionXBTUSD.maintMargin }}</td>
      <td>{{ openPositionService.positionXBTUSD.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionXBTUSD.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionXBTUSD.realisedPnl }}</td>
      <td>{{ openPositionService.positionXBTUSD.execCost }}</td>
      <td>{{ openPositionService.positionXBTUSD.currentCost }}</td>
      <td>{{ openPositionService.positionXBTUSD.unrealisedCost }}</td>
      <td>{{ openPositionService.positionXBTUSD.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionXBTUSD)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionXBTUSD)">Market</button>
      </th>
    </tr>

    <tr *ngIf="openPositionService.openETHUSD">
      <th scope="row"> {{ openPositionService.positionETHUSD.symbol }}</th>
      <td>{{ openPositionService.positionETHUSD.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionETHUSD.markPrice }}</td>
      <td>{{ openPositionService.positionETHUSD.maintMargin }}</td>
      <td>{{ openPositionService.positionETHUSD.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionETHUSD.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionETHUSD.realisedPnl }}</td>
      <td>{{ openPositionService.positionETHUSD.execCost }}</td>
      <td>{{ openPositionService.positionETHUSD.currentCost }}</td>
      <td>{{ openPositionService.positionETHUSD.unrealisedCost }}</td>
      <td>{{ openPositionService.positionETHUSD.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionETHUSD)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionETHUSD)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openADAH19">
      <th scope="row"> {{ openPositionService.positionADAH19.symbol }}</th>
      <td>{{ openPositionService.positionADAH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionADAH19.markPrice }}</td>
      <td>{{ openPositionService.positionADAH19.maintMargin }}</td>
      <td>{{ openPositionService.positionADAH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionADAH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionADAH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionADAH19.execCost }}</td>
      <td>{{ openPositionService.positionADAH19.currentCost }}</td>
      <td>{{ openPositionService.positionADAH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionADAH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionADAH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionADAH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openBCHH19">
      <th scope="row"> {{ openPositionService.positionBCHH19.symbol }}</th>
      <td>{{ openPositionService.positionBCHH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionBCHH19.markPrice }}</td>
      <td>{{ openPositionService.positionBCHH19.maintMargin }}</td>
      <td>{{ openPositionService.positionBCHH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionBCHH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionBCHH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionBCHH19.execCost }}</td>
      <td>{{ openPositionService.positionBCHH19.currentCost }}</td>
      <td>{{ openPositionService.positionBCHH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionBCHH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionBCHH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionBCHH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openEOSH19">
      <th scope="row"> {{ openPositionService.positionEOSH19.symbol }}</th>
      <td>{{ openPositionService.positionEOSH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionEOSH19.markPrice }}</td>
      <td>{{ openPositionService.positionEOSH19.maintMargin }}</td>
      <td>{{ openPositionService.positionEOSH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionEOSH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionEOSH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionEOSH19.execCost }}</td>
      <td>{{ openPositionService.positionEOSH19.currentCost }}</td>
      <td>{{ openPositionService.positionEOSH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionEOSH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionEOSH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionEOSH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openETHH19">
      <th scope="row"> {{ openPositionService.positionETHH19.symbol }}</th>
      <td>{{ openPositionService.positionETHH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionETHH19.markPrice }}</td>
      <td>{{ openPositionService.positionETHH19.maintMargin }}</td>
      <td>{{ openPositionService.positionETHH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionETHH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionETHH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionETHH19.execCost }}</td>
      <td>{{ openPositionService.positionETHH19.currentCost }}</td>
      <td>{{ openPositionService.positionETHH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionETHH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionETHH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionETHH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openLTCH19">
      <th scope="row"> {{ openPositionService.positionLTCH19.symbol }}</th>
      <td>{{ openPositionService.positionLTCH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionLTCH19.markPrice }}</td>
      <td>{{ openPositionService.positionLTCH19.maintMargin }}</td>
      <td>{{ openPositionService.positionLTCH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionLTCH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionLTCH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionLTCH19.execCost }}</td>
      <td>{{ openPositionService.positionLTCH19.currentCost }}</td>
      <td>{{ openPositionService.positionLTCH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionLTCH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionLTCH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionLTCH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openTRXH19">
      <th scope="row"> {{ openPositionService.positionTRXH19.symbol }}</th>
      <td>{{ openPositionService.positionTRXH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionTRXH19.markPrice }}</td>
      <td>{{ openPositionService.positionTRXH19.maintMargin }}</td>
      <td>{{ openPositionService.positionTRXH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionTRXH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionTRXH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionTRXH19.execCost }}</td>
      <td>{{ openPositionService.positionTRXH19.currentCost }}</td>
      <td>{{ openPositionService.positionTRXH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionTRXH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionTRXH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionTRXH19)">Market</button>
      </th>
    </tr>
    <tr *ngIf="openPositionService.openXRPH19">
      <th scope="row"> {{ openPositionService.positionXRPH19.symbol }}</th>
      <td>{{ openPositionService.positionXRPH19.avgEntryPrice }}</td>
      <td>{{ openPositionService.positionXRPH19.markPrice }}</td>
      <td>{{ openPositionService.positionXRPH19.maintMargin }}</td>
      <td>{{ openPositionService.positionXRPH19.unrealisedPnl }}</td>
      <td>{{ openPositionService.positionXRPH19.unrealisedRoePcnt }}</td>
      <td>{{ openPositionService.positionXRPH19.realisedPnl }}</td>
      <td>{{ openPositionService.positionXRPH19.execCost }}</td>
      <td>{{ openPositionService.positionXRPH19.currentCost }}</td>
      <td>{{ openPositionService.positionXRPH19.unrealisedCost }}</td>
      <td>{{ openPositionService.positionXRPH19.posMargin }}</td>
      <th scope="col">
        <input
          type="number"
          min=""
          max=""
          step=""
          value=""
          class="form-control"
          #qtyPercentageInput
        >
      </th>
      <th scope="col">
        <input
          type="number"
          step=""
          value=""
          class="form-control"
          #priceInput
        >
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onMarketPosition(openPositionService.positionXRPH19)">Close</button>
      </th>
      <th scope="col">
        <button class="btn btn-danger" (click)="onCloseMarketPosition(openPositionService.positionXRPH19)">Market</button>
      </th>
    </tr>
    </tbody>
  </table>
  <br>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div>
