<div class="card">
  <div class="card-body">
    <h3 class="card-title">Admin Panel</h3>
    <hr>
    <div class="container-fluid">
      <div class="row" style="overflow-x: scroll">
        <h4> Users </h4>
        <table class="table table-hover table-sm">
          <thead class="thead bg-info">
          <tr>
            <th></th>
            <th scope="col">
              User <fa-icon [icon]="sortByNameIcon" (click)="sortByUsername()"></fa-icon>
            </th>
            <th scope="col">
              ID <fa-icon></fa-icon>
            </th>
            <th scope="col">
              Email <fa-icon [icon]="sortByDateIcon" (click)="sortByEmail()"></fa-icon>
            </th>

            <th scope="col">
              API Key <fa-icon></fa-icon>
            </th>
            <th scope="col">
              API Secret <fa-icon></fa-icon>
            </th>
            <th scope="col">
              Create Date <fa-icon [icon]="sortByDateIcon" (click)="sortByCreateDate()"></fa-icon>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of adminService.users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <th scope="row"><a (click)="onSelect(user)" role="button">{{ user.username }}</a></th>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.apiKey }}</td>
            <td>{{ user.apiSecret }}</td>
            <td>{{ user.create_date }}</td>
            <td>
              <div class="row justify-content-center">
                <button class="btn btn-danger" (click)="onDeleteUser(user)">Delete</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
