<div class="card" id="main-card">
  <div class="card-body">
    <h3 class="card-title">Dashboard</h3>
    <div class="col-12">
      <br>
      <br>
      <h4>Current client: {{ data.client }}</h4>
      <br>
      <div class="row" style="overflow-x: scroll">
        <div class="col">
          <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Balance: <strong>{{ 0 / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Earned: <strong>{{ data.earned / 100000000 }} BTC</strong></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bitmex Balance: <strong>{{ data.walletBalance / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Available Balance for Orders: <strong>{{ data.availableMargin / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Active on orders: <strong>{{ data.activeBalance }} ({{ data.activeBalance / 100000000 }} BTC)</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="row" style="overflow-x: scroll">-->
        <!--<h4> Active Orders </h4>-->
        <!--<table class="table table-hover table-sm">-->
          <!--<thead class="thead bg-info">-->
          <!--<tr>-->
            <!--<th scope="col">symbol</th>-->
            <!--<th scope="col">Side</th>-->
            <!--<th scope="col">Order Status</th>-->
            <!--<th scope="col">Order Type</th>-->
            <!--&lt;!&ndash;<%&#45;&#45;<th scope="col">Order Qty</th>&#45;&#45;%>&ndash;&gt;-->
            <!--<th scope="col">Price</th>-->
            <!--<th scope="col">Stop Price</th>-->
            <!--<th scope="col">Transaction Time</th>-->
            <!--<th scope="col">-->
              <!--<button class="btn btn-danger" (click)="onCancelAll(symbolService.symbolGlobal)">Cancel All</button>-->
            <!--</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr *ngFor="let order of activeOrdersService.activeOrders">-->
            <!--<th scope="row"> {{ order.symbol }}</th>-->
            <!--<td>{{ order.side }}</td>-->
            <!--<td>{{ order.ordStatus }}</td>-->
            <!--<td>{{ order.ordType }}</td>-->
            <!--<td>{{ order.price }}</td>-->
            <!--<td>{{ order.stopPx }}</td>-->
            <!--<td>{{ order.transactTime }}</td>-->
            <!--&lt;!&ndash;<td> </td>&ndash;&gt;-->
            <!--<td>-->
              <!--<button class="btn btn-danger" (click)="onCancelOne(order.clOrdID)">Cancel</button>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
        <!--<br>-->
        <!--<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>-->
      <!--</div>-->
    </div>
  </div>
</div>
