<div class="card" id="main-card">
  <div class="card-body">
    <h3 class="card-title">Dashboard</h3>
    <div class="col-12">
      <br>
      <br>
      <h4>Current client: {{ data.client }}</h4>
      <br>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Balance: <strong>{{ 0 / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Earned: <strong>{{ data.earned / 100000000 }} BTC</strong></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bitmex Balance: <strong>{{ data.walletBalance / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Active Balance for Orders: <strong>{{ data.availableMargin / 100000000 }} BTC</strong></li>
              <li class="list-group-item">Active on orders: <strong>{{ data.activeBalance }} ({{ data.activeBalance / 100000000 }} BTC)</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
