<div class="card">
  <div class="card-body">
    <h4 class="card-title">Bitmex Wallet Summary</h4>
    <hr>
    <div class="row" style="overflow-x: scroll">
      <table class="table table-hover table-sm">
        <thead class="thead bg-info">
        <tr>
          <th>#</th>
          <th scope="col">Currency</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">symbol</th>
          <th scope="col">pendingDebit</th>
          <th scope="col">Wallet Balance</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr *ngFor="let transaction of userService.bitmexTransactionsSummary; let i = index">-->
<!--          <th scope="row">{{ i + 1 }}</th>-->
<!--          <td>{{ transaction.currency }}</td>-->
<!--          <td>{{ transaction.transactType }}</td>-->
<!--          <td>{{ (transaction.amount / 100000000).toFixed(5) }}</td>-->
<!--          <td>{{ transaction.symbol }}</td>-->
<!--          <td>{{ (transaction.pendingDebit / 100000000).toFixed(5) }}</td>-->
<!--          <td>{{ (transaction.walletBalance / 100000000).toFixed(5) }}</td>-->
<!--        </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
