<div class="card">
  <div class="card-body">
    <div class="row">
      <h3 class="card-title">Settings</h3>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <select name="client" class="form-control" #clientInput>
          <!--<option [style.font-weight]="'bold'" [selected]="userDetailsInfo.user.client">{{ userDetailsInfo.user.client }}</option>-->
          <!--<option-->
            <!--[style.font-weight]="userDetailsInfo.user.client == 'TESTNET' ? 'bold' : null"-->
            <!--[selected]="userDetailsInfo.user.client == 'TESTNET'" value="TESTNET"-->
          <!--&gt;-->
            <!--Testnet-->
          <!--</option>-->
          <option
            [style.font-weight]="userDetailsInfo.user.client == 'BITMEX' ? 'bold' : null"
            [selected]="userDetailsInfo.user.client == 'BITMEX'"
            value="BITMEX"
          >
            Bitmex
          </option>
        </select>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary" (click)="onChangeClient()">Change client</button>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>Api Key:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.apiKey }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>Api Secret:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.apiSecret }}
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>XBTUSD:</strong>
          </div>
          <div class="col-xs" >
            {{ userDetailsInfo.user.fixedQtyXBTUSD }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ETHUSD:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyETHUSD }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ADA:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyADAZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>BCH:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyBCHZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>EOS:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyEOSZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ETH:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyETHZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>LTC:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyLTCZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>TRX:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyTRXZ18 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>XRP:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.fixedQtyXRPZ18 }}
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="container-fluid">
      <div class="row">
        <h4 (click)="showOrHideKeys()"> <span *ngIf="hiddenKeys;else dropedDownIcon">
          <fa-icon [icon]="faPlus"></fa-icon></span> Edit Api Keys </h4>
      </div>
      <div *ngIf="!hiddenKeys">
        <form>
          <div class="form-group">
            <div class="row">
              <label for="api_key">Api Key</label>
              <input
                type="text"
                id="api_key"
                class="form-control"
                #apiKeyInput
              >
            </div>
            <div class="row">
              <label for="api_secret">Api Secret</label>
              <input
                type="text"
                id="api_secret"
                class="form-control"
                #apiSecretInput
              >
            </div>
            <div class="row">
              <button class="btn btn-success" (click)="onSaveKeys()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br>

    <div class="container-fluid">
      <div class="row">
        <h4 (click)="showOrHideQties()"> <span *ngIf="hiddenQties;else dropedDownIcon">
          <fa-icon [icon]="faPlus"></fa-icon></span> Edit Fixed Quantities </h4>
        <ng-template #dropedDownIcon><fa-icon [icon]="faMinus"></fa-icon></ng-template>
      </div>
      <div class="container-fluid" *ngIf="!hiddenQties">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <div class="row">
                    <label for="api_key">XBTUSD</label>
                    <input
                      type="number"
                      class="form-control"
                      #fixedQtyXBTUSD
                    >
                </div>
                <div class="row">
                    <button class="btn btn-success" (click)="onSavefixedQty('XBTUSD')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                    <label for="api_secret">ETHUSD</label>
                    <input
                      type="number"
                      class="form-control"
                      #fixedQtyETHUSD
                    >
                </div>
                <div class="row">
                    <button class="btn btn-success" (click)="onSavefixedQty('ETHUSD')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="api_secret">ADA</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyADAXXX
                  >
                </div>
                <div class="row">
                    <button class="btn btn-success" (click)="onSavefixedQty('ADAXXX')">Save</button>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="api_secret">BCH</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyBCHXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('BCHXXX')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="api_secret">EOS</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyEOSXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('EOSXXX')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="api_secret">ETH</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyETHXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('ETHXXX')">Save</button>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="api_secret">LTC</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyLTCXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('LTCXXX')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="api_secret">TRX</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyTRXXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('TRXXXX')">Save</button>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="api_secret">XRP</label>
                  <input
                    type="number"
                    class="form-control"
                    #fixedQtyXRPXXX
                  >
                </div>
                <div class="row">
                  <button class="btn btn-success" (click)="onSavefixedQty('XRPXXX')">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
