<div class="card">
  <div class="card-body">
    <div class="row">
      <h3 class="card-title">Settings</h3>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <select name="client" class="form-control" #clientInput>
          <!--<option [style.font-weight]="'bold'" [selected]="userDetailsInfo.user.client">{{ userDetailsInfo.user.client }}</option>-->
          <!--<option-->
            <!--[style.font-weight]="userDetailsInfo.user.client == 'TESTNET' ? 'bold' : null"-->
            <!--[selected]="userDetailsInfo.user.client == 'TESTNET'" value="TESTNET"-->
          <!--&gt;-->
            <!--Testnet-->
          <!--</option>-->
          <option
            [style.font-weight]="userDetailsInfo.user.client == 'BITMEX' ? 'bold' : null"
            [selected]="userDetailsInfo.user.client == 'BITMEX'"
            value="BITMEX"
          >
            Bitmex
          </option>
        </select>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary" (click)="onChangeClient()">Change client</button>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>Api Key:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.apiKey }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>Api Secret:</strong>
          </div>
          <div class="col-xs">
            {{ userDetailsInfo.user.apiSecret }}
          </div>
        </div>
        <br>
        <div class="alert alert-info">
          <strong>The API Keys are stored with encryption.</strong>
        </div>
      </div>
      <br>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>XBTUSD:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyXBTUSD }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyXBTUSD
            />
          </div>
          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('XBTUSD')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ETHUSD:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyETHUSD }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyETHUSD
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('ETHUSD')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ADAH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyADAZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyADAXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('ADAXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>BCHH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyBCHZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyBCHXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('BCHXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>EOSH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyEOSZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyEOSXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('EOSXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>ETHH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyXBTJPY }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyETHXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('ETHXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>LTCH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyLTCZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyLTCXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('LTCXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>TRXH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyTRXZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyTRXXXX
            />
          </div>

          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('TRXXXX')">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs" style="margin-right: 20px">
            <strong>XRPH19:</strong>
          </div>
          <div class="col-xs" style="margin-right: 20px">
            {{ userDetailsInfo.user.fixedQtyXRPZ18 }}
          </div>
          <div class="col-xs">
            <input
              type="number"
              class="form-control"
              step="1"
              min="0"
              max="100"
              #fixedQtyXRPXXX
            />
          </div>
          <div class="col-xs" style="margin-left: 20px">
            <button class="btn btn-outline-success" (click)="onSavefixedQty('XRPXXX')">Save</button>
          </div>
        </div>
        <br>
        <ngb-alert *ngIf="successMessageQty" type="success" (close)="successMessageQty = null">{{ successMessageQty }}</ngb-alert>
      </div>
    </div>

    <hr>

    <div class="container-fluid">
      <div class="row">
        <h5><span><fa-icon [icon]=""></fa-icon></span> Edit Api Keys </h5>
      </div>
      <div>
        <form>
          <div class="form-group">
            <div class="row">
              <label for="api_key">Api Key</label>
              <input
                type="text"
                id="api_key"
                class="form-control"
                #apiKeyInput
              >
            </div>
            <div class="row">
              <label for="api_secret">Api Secret</label>
              <input
                type="text"
                id="api_secret"
                class="form-control"
                #apiSecretInput
              >
            </div>
            <div class="row">
              <button class="btn btn-success" (click)="onSaveKeys()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <ngb-alert *ngIf="successMessageKeys" type="success" (close)="successMessageKeys = null">{{ successMessageKeys }}</ngb-alert>
    </div>

    <br>
    <hr>

    <div class="container-fluid">
      <div class="row">
        <h5> Change Password </h5>
      </div>
      <br>
      <div>
        <form>
          <div class="form-group">
            <div class="row">
              <label for="api_key">Old Password</label>
              <input
                type="password"
                class="form-control"
                #oldPass
              />
            </div>
            <div class="row">
              <label for="api_secret">New Password</label>
              <input
                type="password"
                class="form-control"
                #newPass
              />
            </div>
            <div class="row">
              <label for="api_secret">Confirm New Password</label>
              <input
                type="password"
                class="form-control"
                #confirmPass
              />
            </div>
            <div class="row">
              <button class="btn btn-success" (click)="onSavePass()">Save</button>
            </div>
          </div>
        </form>
      </div>
      <ngb-alert *ngIf="successMessagePass" type="success" (close)="successMessagePass = null">{{ successMessagePass }}</ngb-alert>
    </div>
  </div>
</div>
